
@use "../abstracts/variables.scss";

.product-button {
    display: block;
    
    background-color: variables.$btn-background;
    color: variables.$primary-color;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: lighten(variables.$btn-background, 2%);
    }
}
