@import "../abstracts/_variables.less";
@import "../abstracts/_maps.less";

body {
    font-family: @font-default;
    background-color: #background-colors[Body];
}

li {
    list-style: none;
}

section {
    padding: 56px 0;
}