@use "../abstracts/variables.scss";

@mixin containerWidth($container: 1024px) {
    max-width: $container;
}

@mixin grid($columns, $size, $gap-column: 1%, $row-gap: 4%){
    display: grid;
    grid-template-columns: repeat($columns, $size);
    column-gap: $gap-column;
    row-gap: $row-gap;
}


