@import "../abstracts/_maps.less";

.product-button {
    display: block;
    background-color: #background-colors[btn];
    color: #text-colors[btn];
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;
}


.product-button:hover {
    background-color: #background-colors[btnHover];
}